.ip_icon {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color:hsl(219deg 88% 55%) ;
}


.secondry {
    display: flex;
    margin-top: 20px;
    font-family: 'Alatsi';
    justify-content: center;
}

.input_ip_box p{
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 20px;
}

.input_ip_box textarea {
    
     font-size: larger;
     font-family: 'Alatsi';
     border: 0px;
     background-color: whitesmoke;
     padding: 10px 10px 10px 10px;
     border-radius: 5px;
}

textarea:focus{
   outline: none;
}