.icon {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color:hsl(219deg 88% 55%)
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.main2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 80%;
    overflow: hidden;
    border: 0px solid black;
    justify-content: center;
    background-color: #D6D6D6;
    align-items: center;
    align-content: center;
    align-self: center;
  


}

.main2 input {
    align-self: center;
    flex-wrap:wrap;
}

.input_feild input {
     font-size: larger;
     width: 100px;
     height: 40px;
     font-family: 'Alatsi';
     border: 0px;
     margin: 10px;
     
}

